* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: blueviolet;
    color: white;
}

.container {
    margin-top: 5rem;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.isActive {
    text-decoration: underline;
}